package-lock.json
db/
mongod.lock

# API Keys
config/config.js

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
dist/

# Dependency directorys
node_modules/


.DS_Store
client/.DS_Store
client/components/.DS_Store
client/images/.DS_Store

